---json
{
  "permalink": "/feed.xml",
  "eleventyExcludeFromCollections": true
}
---
{% if meta.siteBaseUrl -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.siteBaseUrl }}">
  <title>{{ meta.siteName }}</title>

  <!-- Enlace al propio feed -->
  <link href="{{ meta.siteBaseUrl }}{{ permalink | url }}" rel="self" />

  <!-- Enlace a la portada del sitio -->
  <link href="{{ meta.siteBaseUrl }}/" rel="alternate" />

  <updated>{{ collections.note | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.siteBaseUrl }}/</id>

  {%- for note in collections.note | reverse %}
    {%- set itemUrl = meta.siteBaseUrl + (note.url | url) -%}
    <entry>
      <title>{{ note.data.title or note.fileSlug }}</title>

      <updated>
        {%- if note.data.updated -%}
          {{ note.data.updated | dateToRfc3339 }}
        {%- else -%}
          {{ note.date | dateToRfc3339 }}
        {%- endif -%}
      </updated>

      <id>{{ itemUrl }}</id>
      <link href="{{ itemUrl }}" rel="alternate" />

      <!-- Contenido HTML como CDATA para no romper el XML -->
      <content type="html"><![CDATA[
        {{ note.templateContent | hideDataview | taggify | link | htmlToAbsoluteUrls(meta.siteBaseUrl) }}
      ]]></content>
    </entry>
  {%- endfor %}
</feed>
{%- endif %}
