---json
{
  "permalink": "/feed.xml",
  "eleventyExcludeFromCollections": true
}
---
{% if meta.siteBaseUrl -%}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ meta.siteName }}</title>
    <link>{{ meta.siteBaseUrl }}/</link>
    <description>{{ meta.siteDesc or meta.siteName }}</description>
    <lastBuildDate>{{ collections.note | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <generator>Eleventy</generator>

    {%- for note in collections.note | reverse %}
      {%- set itemUrl = meta.siteBaseUrl + (note.url | url) -%}
      <item>
        <title>{{ note.data.title or note.fileSlug }}</title>
        <link>{{ itemUrl }}</link>
        <guid isPermaLink="true">{{ itemUrl }}</guid>
        <pubDate>
          {%- if note.data.updated -%}
            {{ note.data.updated | dateToRfc822 }}
          {%- else -%}
            {{ note.date | dateToRfc822 }}
          {%- endif -%}
        </pubDate>
        <description><![CDATA[
          {{ note.templateContent | hideDataview | taggify | link | htmlToAbsoluteUrls(meta.siteBaseUrl) }}
        ]]></description>
      </item>
    {%- endfor %}
  </channel>
</rss>
{%- endif %}
